{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comttrack | Tasks</title>
    <link rel="stylesheet" href = "{% static 'authentication/css/tasks&messenger.css' %}">
    <link rel="icon" type="image" href="{% static 'authentication/images/icon1.png' %}">
<style>
    .noti{
        width: 325px;
        margin-bottom: 7px;
        text-align: left;
        color: #000;
        font-weight: 530;
        font-size: 15px;
    }

    header, section{
        margin-bottom: 0;
    }
    body, textarea{
        font-family: 'Helvetica', 'Arial', sans-serif;
        background-color: #ffffff;
    }
    header, section, footer{
        background-color: #2a2b78;
    }
    footer{
        background-color: rgba(42, 43, 120, 0.8);
        margin-top: 0;
    }
    .scroll{
        height: 200px;
    }
    .checkbox{
        width: 20px;
        height: 40px;
        float: left;
        margin-right: 15px;
    }
    footer{
        position: relative;
    }
</style>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <header>
        <div class="content">
            <img class="logo" src = "{% static 'authentication/images/logo3.png' %}" width="110" alt="">
            <ul class="main-menu">
                <li class="noti_Container">
                    <div class="button-noti"><a class="main-menu-link" href="{% url 'notifications' %}">Notifications</a></div>
                    <div class="notifications">
                        <div style="height:auto;">
                            <div class = "notification">
                                <hr>
                                <h5>Leadership</h5>
                                <h6>Где блять все?</h6>
                                <hr>
                            </div>
                            <div class = "notification">
                                <hr>
                                <h5>Leadership</h5>
                                <h6>Совещание в 15:00</h6>
                                <hr>
                            </div>
                            <!--здесь должны отображаться уведомления -->
                        </div>
                        <div class="seeAll"><a href="{% url 'notifications' %}">See All</a></div>
                    </div>
                </li>
                <li class="main-menu-item"><a class="main-menu-link" href="#">Messenger</a></li>
                <li class="main-menu-item"><a class="main-menu-link" href="{% url 'add_task' %}">Tasks</a></li>
                <li class="main-menu-item"><a class="main-menu-link" href="">Exit</a></li>
                <!-- Никитааааааа, туту кнопка выхода есть-->
            </ul>
        </div>
        <script>
            $(document).ready(function () {
                $('.button-noti').click(function () {
                    $('.notifications').fadeToggle('fast', 'linear');
                    return false
                });
            });
        </script>
    </header>
    <section class="content" >
    <!-- для руководства-->
            <div class="card" style = "margin-bottom: 20px; margin-right: 20px">
                <h1>Added Tasks</h1>
                <hr>
                <div class = "scroll" id="style">
                    <div class = "whole_noti" >
                        <div class = "noti">Покормить ежейffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</div>
                        <div class ="noti_mess">Заказать ежикам столик в ресторане</div>
                    </div>
                    <br>
                    <div class = "whole_noti" >
                        <div class = "noti">Устроить новоселье ежикам</div>
                        <div class ="noti_mess">Купить шарики, подарки и шампанское</div>
                    </div>
                    <br>
                    <div class = "whole_noti" >
                        <div class = "noti">Устроить новоселье ежикам</div>
                        <div class ="noti_mess">Купить шарики, подарки и шампанское</div>
                    </div>
                    <br>
                </div>

            </div>
            <div class="card" style = "margin-bottom: 20px">
                <h1>Completed Tasks</h1>
                <hr>
                <div class = "scroll" id="style">
                    <div class = "whole_noti" >
                        <div class = "noti">Купить ежей</div>
                        <div class ="noti_mess">Обеспечить каждого сотрудника персональным ежиком</div>
                    </div>
                    <br>
                    <div class = "whole_noti" >
                        <div class = "noti">Устроить тусич с ежами</div>
                        <div class ="noti_mess">Ну тут добавить нечего</div>
                    </div>
                    <br>
                    <div class = "whole_noti" >
                        <div class = "noti">Купить ежей</div>
                        <div class ="noti_mess">Обеспечить каждого сотрудника персональным ежиком</div>
                    </div>
                    <br>
                    <div class = "whole_noti" >
                        <div class = "noti">Устроить тусич с ежами</div>
                        <div class ="noti_mess">Ну тут добавить нечего</div>
                    </div>
                    <br>
                </div>
            </div>
        <div>
            <div class="card" style = "margin-bottom: 70px">
                <h1>Tasks</h1>
                <hr>
                <form method="post">
                    {%  csrf_token %}
                    {{ form.as_p }}
                    <p><button type = "submit">ADD</button></p>
                </form>
            </div>
        </div>
        <!-- для руководства-->
        <!-- для сотрудников-->
        <div class="card" style = "margin-bottom: 70px">
            <h1>Tasks</h1>
            <hr>
            <form>
                <input class= "checkbox" type="checkbox" name="a">
                <label>
                    <div class = "whole_noti" >
                        <div class = "noti">Покормить ежей</div>
                        <div class ="noti_mess">Заказать ежикам столик в ресторане</div>
                    </div>
                </label>
                <br>
                <input class= "checkbox" type="checkbox" name="a">
                <label>
                    <div class = "whole_noti" >
                        <div class = "noti">Покормить ежей</div>
                        <div class ="noti_mess">Заказать ежикам столик в ресторане</div>
                    </div>
                </label>
                <br>
                <input class= "checkbox" type="checkbox" name="a">
                <label>
                    <div class = "whole_noti" >
                        <div class = "noti">Покормить ежей</div>
                        <div class ="noti_mess">Заказать ежикам столик в ресторане</div>
                    </div>
                </label>


                <p><button type = "submit">SEND</button></p>
            </form>
        </div>
        <!-- для сотрудников-->
    </section>
    <footer class="footer">
        <p><br>Corporate social network, messenger / task-manager<br>Made by students of IIT CSU</p>
    </footer>
</body>
</html>