{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--Все сделано на глаз-->
    <meta charset="UTF-8">
    <title>comttrack | Notifications</title>
    <link rel="stylesheet" href = "{% static 'authentication/css/tasks&messenger.css' %}">
    <link rel="icon" type="image" href="{% static 'authentication/images/icon1.png' %}">
    <style>

</style>
</head>
<body>
    <header>
        <div class="content">
            <img class="logo" src = "{% static 'authentication/images/logo3.png' %}" width="110" alt="">
            <ul class="main-menu">
                <li class="noti_Container"><a class="main-menu-link" href="{% url 'notifications' %}">Notifications</a></li>
                <li class="main-menu-item"><a class="main-menu-link" href="#">Messenger</a></li>
                <li class="main-menu-item"><a class="main-menu-link" href="{% url 'add_task' %}">Tasks</a></li>
            </ul>
        </div>
    </header>
    <section class="content">
        <div>
            <div class="card" style = "margin-bottom: 20px;" >
                <h1>Notifications</h1>
                <hr>
                <div class = "scroll" id="style">
                {% for notification in notifications %}
                    <div class = "whole_noti" >
                        <div class = "noti">{{notification.author}}</div>
                        <div class ="noti_mess">{{notification.text}}</div>
                    </div>
                    <br>
                {% endfor %}
                <!--здесь должны отображаться уведомления -->
                </div>
            </div>
        </div>
         <!--здесь руководство добавляет уведомления-->
        {% if status == "Employer" %}
        <div class="card">
            <h1>Add Notifications</h1>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><button type = "submit">ADD</button></p>
            </form>
        </div>
        {% endif %}
    </section>
    <footer class="footer">
        <p><br>Corporate social network, messenger / task-manager<br>Made by students of IIT CSU</p>
    </footer>
</body>
</html>