{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--Все сделано на глаз-->
    <meta charset="UTF-8">
    <title>comttrack | Notifications</title>
    <link rel="stylesheet" href = "{% static 'authentication/css/tasks&messenger.css' %}">
    <link rel="icon" type="image" href="{% static 'authentication/images/icon1.png' %}">
    <style>
        footer{
    background-color: rgba(255, 255, 255, 0.2);
    height: 70px;
    color: #a1a4ad;
    text-align: center;
    font-size: 15px;
    position: relative; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    width: 100%; /* Ширина слоя */
}

</style>
</head>
<body>
    <header>
        <div class="content">
            <img class="logo" src = "{% static 'authentication/images/logo3.png' %}" width="110" alt="">
            <ul class="main-menu">
                <li class="noti_Container"><a class="main-menu-link" href="{% url 'notifications' %}">Notifications</a></li>
                <li class="main-menu-item"><a class="main-menu-link" href="#">Messenger</a></li>
                <li class="main-menu-item"><a class="main-menu-link" href="{% url 'add_task' %}">Tasks</a></li>
                <li class="main-menu-item"><a class="main-menu-link" href="">Exit</a></li>
                <!-- Никитааааааа, туту кнопка выхода есть-->
            </ul>
        </div>
    </header>
    <section class="content">
        <div>
            <div class="card" style = "margin-bottom: 20px;" >
                <h1>Notifications</h1>
                <hr>
                <div class = "scroll" id="style">
                    <div class = "whole_noti" >
                        <div class = "noti">Leadership</div>
                        <div class ="noti_mess">Слушайте, а где мой кот, не знаете?</div>
                    </div>
                    <br>
                    <div class = "whole_noti" >
                        <div class = "noti">Leadership</div>
                        <div class ="noti_mess">Совещание в 15:00</div>
                    </div>
                    <br>
                    <div class = "whole_noti" >
                        <div class = "noti">Leadership</div>
                        <div class ="noti_mess">Где все?</div>
                    </div>
                    <br>
                <!--здесь должны отображаться уведомления -->
                </div>
            </div>
        </div>
         <!--здесь руководство добавляет уведомления-->
        <div class="card">
            <h1>Add Notifications</h1>
            <hr>
            <form method="post">
                <textarea placeholder="Description"></textarea>
                <p><button type = "submit">ADD</button></p>
            </form>
        </div>
    </section>
    <footer class="footer">
        <p><br>Corporate social network, messenger / task-manager<br>Made by students of IIT CSU</p>
    </footer>
</body>
</html>