body, h1, p {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}
h5, h6{
    margin: 5px;
    font-weight: 200;
}
body, textarea{
    font-family: 'Helvetica', 'Arial', sans-serif;
     background-color: #2a2b78;
}

header, section{
    margin-bottom: 0;
}
.content {
    margin:auto ;
}
.submenu-popup{
    background:#fff;
    border-radius:7px;
    box-shadow:0 3px 13px 0 rgba(70,70,70,.15);
    padding:12px 0 16px;
    top:30px;
    opacity:0;
    visibility:hidden;
}
.main-menu {
    float:right;
    margin:50px 35px 20px;
    font-family:Circe-Bold,sans-serif;
    color: white;
}

.main-menu-link {
    display:inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    -webkit-transition:all .3s linear;
    -o-transition:all .3s linear;
    transition:all .3s linear;

}
.main-menu-item{
    display:inline-block;
    font-size:13px;
    letter-spacing:.3px;
    margin-left:50px;
}
.logo{
    margin: 20px 35px 20px;
    font-size: 55px;
    color: #ffffff;
}
hr {
    border: none; /* Убираем границу */
    background-color: whitesmoke; /* Цвет линии */
    color: whitesmoke; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}

section{
    text-align: center;
}
.card{
    padding: 10px 25px 20px;
    display: inline-block;

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: white;
}
input, select, textarea{
    width: 350px;
    height: 35px;
    background-color: #fff;
    color: #000;
    margin-top: 8px;
    font-weight: 200;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    outline: none;
}
button{
    margin: 7px auto 5px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgba(103, 103, 156, 0.7);
    color: #fff;
    padding: 10px 40px;
    border-color: #a1a4ad;
    background-position: 100% 0;
    background-size: 200% 200%;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

footer{
    background-color: rgba(255, 255, 255, 0.2);
    height: 70px;
    color: #a1a4ad;
    text-align: center;
    font-size: 15px;
    position: relative; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    width: 100%; /* Ширина слоя */
}

ul {
    list-style:none;
}
ul li {
    float:left;
}
ul li a {
    text-decoration:none;
    position:relative;
    cursor:pointer;
}

.noti_Container { position:relative;}
.button-noti { cursor:pointer;}
.notifications {
    display:none;
    width:300px;
    position:absolute;
    top:30px;
    left:0;
    background:#FFF;
    border:solid 1px rgba(100, 100, 100, .20);
    -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
    z-index: 0;
}
/* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
.notifications:before {
    content: '';
    display:block;
    width:0;
    height:0;
    color:transparent;
    border:10px solid #CCC;
    border-color:transparent transparent #FFF;
    margin-top:-20px;
    margin-left:10px;
}
.noti{
    width: 325px;
    height: 25px;
    text-align: left;
    color: #000;
    font-weight: 530;
    font-size: 15px;
}
.noti_mess{
    width: 325px;
    text-align: left;
    font-weight: 200;
    font-size: 13px;
    color: #3d3d3d;
}
.whole_noti{
    background-color: #fff;
    margin-bottom: 8px;
    float: left;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    scroll-snap-align: start;
    margin-right: 10px;
}
.notification {
    color: #000000;
    background-color: rgba(102, 103, 113, 0.1);
    margin: 5px;
}
.seeAll {
    background: #F6F7F8;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;

    text-align: center;
}
.seeAll a {
    color: rgba(103, 103, 156, 1);
}
.seeAll a:hover {
    background: #F6F7F8;
    color: rgba(103, 103, 156, 1);
    text-decoration: underline;
}
        .scroll {
	        float: left;
	        overflow-y: scroll;
            height: 300px; /* высота нашего блока */
            border: 1px solid rgba(193, 193, 193, 0); /* размер и цвет границы блока */
        }

        #style::-webkit-scrollbar{
	        width: 12px;
        }

        #style::-webkit-scrollbar-thumb {
	        border-radius: 10px;
	        -webkit-box-shadow: inset 0 0 6px rgba(103, 103, 156, 0.7);
	        background-color: #d0d0d0;
        }

        #style::-webkit-scrollbar-track {
	        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	        border-radius: 10px;
        }
