body, h1, p{
    margin: 0;
    font-size: 100%;
    font-weight: normal;
  }

  body {
    font-family: 'Helvetica', 'Arial', sans-serif;

    background: url(https://psv4.userapi.com/c520036/u191589200/docs/d13/61774c78d4c8/source.gif?extra=9yKEC2Ia8rL2d5RkKhn1jz2mpp3B0HPI4OBcjZ_oS_5S71U06xXbBppyNyWQELMVryeO9xBH7XDeG4R3B0qHPLfh_3BVBkKWty267kyaOjLJUZ_kf0-ua8FAaXcSYWwtzCi8nbrlg4_Ph2k73FYF-tRE_w) no-repeat;
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
    -moz-background-size: cover; /* Firefox 3.6+ */
    -o-background-size: cover; /* Opera 9.6+ */
    background-size: cover;
  }

  a{
    margin: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }

  .overlay {
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: 500;
    text-align: center;
  }

  .header-title {
    margin: 35px auto 20px;
    font-size: 55px;
    color: #ffffff;
  }

  .header-title2{
    margin: 0 auto 5px;
    font-size: 20px;
    color: #a1a4ad;
  }

  .content{
    margin: 20px auto 30px;
    text-align: center;
  }

  .card{
    margin-bottom: 20px;
    padding: 10px 25px 20px;
    display: inline-block;
    text-align: center;
    background-color: #ffffffa0;
    border-radius: 10px;
  }

  .section-title{
    margin: 20px auto 10px;
    font-size: 20px;
    color: #000;
    font-weight: 600;
  }

  input, select {
    width: 350px;
    height: 35px;
    background-color: #fff;
    color: #000;
    margin-top: 8px;
    font-weight: 200;
    font-size: 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    outline: none;
  }

  button{
    margin: 7px auto 5px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgba(103, 103, 156, 1);
    color: #fff;
    padding: 15px 45px;
    border-color: #a1a4ad;
    background-image: linear-gradient(45deg, #6ab1d7 0%, rgba(201, 178, 248, 0.73) 50%, #001747 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    /*border: 2px solid #a1a4ad;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);*/
  }

  footer{
    height: 70px;
    color: #a1a4ad;
    text-align: center;
    font-size: 15px;
  }